body{
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

.header,
.footer{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.text h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.text p,
li a{
    font-size: 18px;
    color: #E5E7EB;
}

#Signup{
    background-color: royalblue;
    border-color: royalblue;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
}

.title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quo{
    background-color: #E5E7EB;
    padding: 100px 200px;
    display: flex;
    flex-direction:column ;
}

.person{
    align-self: flex-end;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

li{
    margin: 0px 10px;
}

.que{
    background-color: royalblue;
    margin: 50px 100px;
    border-radius: 20px;
}

.que #Sig{
    background: royalblue;
    color: white;
    font-size: 18px;
    border-color: #E5E7EB;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    margin: auto 0px;
    padding: 5px 10px;
}

.top,
.hero,
ul,
.content,
.inf,
.kotak{
    display: flex;
}

.top{
    justify-content: space-between;
}

.hero{
    margin: 120px;
    display: flex;
    justify-content: space-between;
}
 .holder{
    padding: 0px 180px;
    margin: 20px;
    background-color: #F9FAF8;
 }

.content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 200px;
    margin-bottom: 80px;
}

.info{
    margin: 20px;
}



.kotak{
    padding: 50px 100px;
    justify-content: space-around;
}

.teks h1{
    margin: 0px;
}
.teks{
    color: #E5E7EB;
}

.cpyrght{
    margin: 50px auto;
    color: #E5E7EB;
}